<div class="wallpaper">
    <div>  
        <img src="https://wallpapercave.com/wp/wp3982183.jpg" alt="Boston Travel">
        <h1 class="text-center"> About Us</h1>
    </div>
</div>
<div class="container mt-5 mb-5">
    
    <h3>"Massachusetts has been the wheel within New England, and Boston the wheel within Massachusetts. Boston therefore is often called the ‘hub of the world’ since it has been the source and fountain of ideas that have been reared and made America." <br><br>— The Rev. F.B. Zinckle. Last Winter in the United States (1968)
    </h3>
</div>


    
    
